version: '3.8'

services:
  web:
    build:
      context: .
      args:
        GEMINI_API_KEY: ${GEMINI_API_KEY}
    ports:
      - "9595:80"
    restart: always
    container_name: fact-video-creator-app
